@charset "UTF-8";
@import url(../styles/libs/default.css);
@import url(../styles/libs/nav-scroll.css);
@import url(../styles/libs/cadre.css);
@import url(../styles/libs/button.css);
@import url(../styles/libs/footer-animation.css);

/*font importation, je mets tout ici, c'est plus simple et efficace ainsi*/
@font-face {
  font-family: "Titre";
  src: url("../fonts/Rajdhani-Medium.ttf");
}

@font-face {
  font-family: "Titre B1";
  src: url("../fonts/Rajdhani-SemiBold.ttf");
}

@font-face {
  font-family: "Titre B2";
  src: url("../fonts/Rajdhani-Bold.ttf");
}

@font-face {
  font-family: "Titre H2";
  src: url("../fonts/SpaceGrotesk-Bold.ttf");
}

@font-face {
  font-family: "Texte";
  src: url("../fonts/SpaceGrotesk-Regular.ttf");
}

h1,
ul li {
  font-family: "Titre";
  font-size: 2.25em;
}

button {
  font-family: "Titre";
  font-size: 1.25em;
}

h2 {
  font-family: "Titre";
  font-size: 1.5em;
}

h6,
h3 {
  font-family: "Titre H2";
  font-size: 0.9em;
}

p,
label {
  font-family: "Texte";
  font-size: 1.125em;
}

label {
  color: grey;
}

/*background first*/
body {
  background: black url(../images/Illustrations/batgame/Batgame_1.webp) 70% 20%/cover no-repeat;
  height: 901px;
  font-size: 16px;
}

/*Responsive*/
@media screen and (max-width: 900px) {
  body {
    font-size: 14px;
  }
}

@media screen and (min-width: 950px) and (max-width: 990px) {
  .synopsis {
    font-size: 0.9em;
  }
}

/**/
.page {
  height: 100vh;
}

/*première section*/
#play {
  margin: 300PX 10% 0;
  width: 300px;
}

#play h1 {
  font-family: "Titre B2";
  font-weight: 700;
  font-size: 2.7em;
  letter-spacing: 2px;
  line-height: 65px;
}

/*quiz first bg*/
#game {
  height: 100vh;
  position: relative;
}

#start-container {
  text-align: center;
}

#start-container #bat-bg {
  overflow-x: hidden;
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#start-container #bat-bg img {
  min-height: 75vh;
}

button {
  background: linear-gradient(to right, #EDDEBF, #ff7700);
  font-family: "Titre B1";
}

button:hover {
  color: #000;
  opacity: 1;
}

#quiz-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

#quiz-container #question-counter {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 10%;
}

#quiz-container .option {
  width: 90%;
  padding: 10px 0 10px 10%;
  margin: 10px;
  font-family: "Titre";
  font-size: 1.2em;
  background: #393939;
  cursor: pointer;
  position: relative;
}

#quiz-container .option:hover::after {
  background: #FF0000;
  border: 1px solid #000;
}

#quiz-container .option::after {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 10px;
  height: 10px;
  width: 10px;
  background: #fff;
  transition: all 0.5s ease-in-out;
}

#quiz-container .option.selected {
  background: #FFD700;
  color: white;
  border: 2px solid #393939;
  color: #000;
  font-family: "Titre B1";
}

#quiz-container #next-button {
  margin-top: 25%;
}

#popup {
  display: none;
  position: absolute;
  top: 0;
  left: 10%;
}

#congratulation-popup {
  position: fixed;
  display: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 50px;
  background: linear-gradient(to bottom right, rgba(237, 222, 191, 0.2), rgba(255, 119, 0, 0.2));
  border: 1px solid #393939;
  border-radius: 30px;
}

#congratulation-popup button {
  opacity: 1;
  color: #000;
}

#scoreboard {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#scoreboard .restart-button {
  padding: 1em;
}