@charset "UTF-8";
/*reseting default annoying settings*/
* {
  text-decoration: none;
  list-style: none;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  scroll-behavior: smooth;
  animation: fade-in 0.5s ease-in;
}

/*partie animation, fade in*/
@keyframes fade-in {
  from {
    transform: translateX(-10%);
    opacity: 0.2;
  }
  to {
    transform: translateX(0%);
  }
}
/*font importation, je mets tout ici, c'est plus simple et efficace ainsi*/
@font-face {
  font-family: "Titre";
  src: url("../fonts/Rajdhani-Medium.ttf");
}
@font-face {
  font-family: "Titre H2";
  src: url("../fonts/SpaceGrotesk-Bold.ttf");
}
@font-face {
  font-family: "Texte";
  src: url("../fonts/SpaceGrotesk-Regular.ttf");
}
h1, ul li {
  font-family: "Titre";
  font-size: 2.25em;
}

button, h2 {
  font-family: "Titre";
  font-size: 1.25em;
}

h6, h3 {
  font-family: "Titre H2";
  font-size: 0.9em;
}

p, label {
  font-family: "Texte";
  font-size: 1.125em;
}

label {
  color: grey;
}

/*Background... First thing that the user will see...*/
body {
  background: black url("../images/Illustrations/Bathome1.png") 80% 20%/cover no-repeat;
  height: 901px;
  font-size: 16px;
}

/*Responsive*/
@media screen and (max-width: 900px) {
  body {
    font-size: 14px;
  }
}
@media screen and (min-width: 950px) and (max-width: 990px) {
  .synopsis {
    font-size: 0.9em;
  }
}
/*I had to use this instead of border 'cause it's easier to make it responsive this way*/
.lines {
  border: 2px solid rgba(102, 99, 99, 0.233);
  width: 90%;
  top: 80px;
  left: 5%;
  position: absolute;
}

.lines-ver {
  position: fixed;
  top: 0;
  left: 5%;
  width: 3px;
  height: 100vh;
  background: rgba(102, 99, 99, 0.233);
}

.lines-ver-2 {
  position: fixed;
  top: 0;
  right: 5%;
  width: 3px;
  height: 100vh;
  background: rgba(102, 99, 99, 0.233);
}

/*forgot what the purpose of this... It's important so let's just let it be*/
main {
  z-index: 2;
}

/*barre de navigation... Home logo and other page links*/
nav {
  position: relative;
  padding-top: 20px;
}
nav .nav-logo {
  position: absolute;
  left: 8%;
}
nav .nav-logo img {
  cursor: pointer;
  transition: filter 0.4s ease-in-out;
}
nav .nav-logo img:hover {
  filter: grayscale(50%) brightness(70%) sepia(100%) hue-rotate(5deg) saturate(500%) contrast(1);
}
nav .nav-links {
  position: absolute;
  right: 6%;
}
nav .nav-links ul li {
  display: inline-block;
  padding: 0 15px;
}
nav .nav-links ul li a {
  margin: auto;
  position: relative;
}
nav .nav-links ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: yellow;
  transform-origin: bottom center;
  transition: all 0.5s ease-in-out;
}
nav .nav-links ul li a:hover {
  filter: grayscale(50%) brightness(70%) sepia(100%) hue-rotate(5deg) saturate(500%) contrast(1);
  font-weight: 600;
}
nav .nav-links ul li a:hover::after {
  transform: scaleX(1);
}

/*just a little adjustement for small screen devices*/
@media screen and (max-width: 500px) {
  .nav-logo img {
    padding-top: 9px;
    width: 75%;
  }
}
/*the little arrow that is there for... I don't really know why...*/
.flèche {
  text-align: center;
  margin-bottom: 15%;
}
.flèche img {
  width: 50px;
  cursor: pointer;
  transition: filter 0.4s ease-in-out;
}
.flèche img:hover {
  filter: grayscale(50%) brightness(70%) sepia(100%) hue-rotate(5deg) saturate(500%) contrast(1);
}

/*First section*/
#intro {
  height: 901px;
}
#intro .parent {
  margin-right: auto;
  margin-left: auto;
  padding-top: 375PX;
  text-align: center;
  width: 50%;
}

@media screen and (max-width: 470px) {
  #intro .parent {
    padding-top: 350px;
    margin-left: 12%;
  }
}
/*The scroll bar*/
.scroll {
  position: fixed;
  z-index: 1;
  top: 35%;
  right: 1.2%;
  align-items: center;
  transition: 0.5s all ease-in-out;
}
.scroll .mediasoc div {
  padding: 5px 0;
}
.scroll img {
  cursor: pointer;
  transition: filter 0.4s ease-in-out;
}
.scroll img:hover {
  filter: grayscale(50%) brightness(70%) sepia(100%) hue-rotate(5deg) saturate(500%) contrast(1);
}

/*responsive part for the scroll*/
/*first I'll just resize it*/
@media screen and (min-width: 850px) and (max-width: 1200px) {
  .scroll {
    right: 1.1%;
  }
  .scroll .up a img {
    width: 70px;
  }
}
/*and then I rotated the arrow like bat stuff... 'cause there no much space*/
@media screen and (max-width: 850px) {
  .scroll {
    right: -2%;
  }
  .scroll .up {
    transform: rotate(-90deg);
    margin: 25% 0;
  }
  .scroll .up a img {
    width: 80px;
  }
  .scroll .down {
    transform: rotate(90deg);
  }
}
/*All buttons have their propreties here... Easier and fastest way to make it*/
button {
  background: linear-gradient(to right, #EDDEBF, #890008);
  border: none;
  padding: 1% 2%;
  margin: 10px 2%;
  opacity: 0.4;
  transition: 0.4s all ease-in-out;
  cursor: pointer;
}
button:hover {
  opacity: 1;
}

.button {
  text-align: center;
}

.btn2 {
  background: none;
  border: 2px solid;
  border-image: linear-gradient(to right, #EDDEBF, #19587D) 1;
}

/*Responsive... Button...Adjusting the size*/
@media screen and (max-width: 850px) {
  button {
    padding: 2% 3%;
  }
}
/*Three section share those propreties... They look alike so I gave 'em the same classes*/
.titles-stuff {
  margin: 0 12%;
  padding-top: 10%;
  text-align: justify;
}

.thebats {
  margin: 35px 12%;
  gap: 5%;
  display: flex;
  text-align: center;
}
.thebats h6 {
  padding-top: 10px;
}
.thebats img {
  width: 90%;
  transition: 0.5s transform ease-in-out;
  cursor: pointer;
}
.thebats img:hover {
  transform: scale(1.1);
}

/*Responsive*/
@media screen and (max-width: 850px) {
  .titles-stuff {
    margin: 0 16% 0 12%;
  }
  .thebats {
    margin: 35px 16% 35px 12%;
  }
}
/*Hors section 1 the batman who just do? I don't even know what he's doing there*/
.vigilent {
  position: relative;
  height: 30vh;
}
.vigilent .random {
  position: absolute;
  right: 0;
}
.vigilent .random img {
  height: 40vh;
}

/*Hors section 2 The batarang... I struggle for this one... It was hard but... Now that I did it... I'm thankfull*/
.bata {
  position: relative;
}
.bata .batarang {
  position: absolute;
  top: -60px;
  left: 65px;
}
.bata .batarang img {
  width: 100px;
}

/*Responsive hors section*/
@media screen and (max-width: 850px) {
  .vigilent .random img {
    height: 30vh;
  }
}
/*Justice league part*/
#justiceleague .jlt {
  margin: 0 15% 10% 15%;
}
#justiceleague .jl {
  margin: 0;
}
#justiceleague .jl img {
  width: 100%;
}

/*Movie trailer part*/
.media {
  display: flex;
  align-items: center;
  margin: 10% auto;
  width: 80%;
}
.media .synopsis {
  height: 230px;
  display: flex;
  background: linear-gradient(to bottom right, #4e4940, #091e2a);
  border-radius: 0 20px 20px 0;
}
.media .synopsis .texts {
  padding: 10px 15px;
}
.media .arrow {
  margin: 0 30px;
}

/*Responsive partie trailer*/
@media screen and (max-width: 1200px) {
  .media {
    width: 100%;
  }
  .media .synopsis {
    height: max-content;
  }
}
@media screen and (max-width: 800px) {
  .media {
    width: 90%;
  }
  .media .synopsis {
    border-radius: 0 20px 20px 20px;
    height: 100%;
  }
  .media .synopsis img {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .media {
    width: 75%;
  }
  .media .synopsis {
    margin-top: 200px;
    height: 100%;
    position: relative;
  }
  .media .synopsis img {
    display: block;
    position: absolute;
    top: -240px;
  }
  .media .arrow {
    display: none;
  }
}
/*Hors section, partie vidéo... */
.video {
  text-align: center;
}
.video img {
  width: 80%;
  transition: all 0.25s ease-in-out;
}
.video img:hover {
  filter: drop-shadow(0 0 10px white);
}

/*Last part the form*/
form {
  background: linear-gradient(to bottom right, #4e4940, #091e2a);
  padding: 5% 12%;
  margin: 15% 0;
  line-height: 30px;
}
form input, form select {
  font-family: "Texte";
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
}
form input:focus, form select:focus {
  outline: none;
}
form select > option {
  background-color: rgba(9, 30, 42, 0.2078431373);
}

.one, .two, .three, .four {
  margin: 15px 0;
}

/*the real last part... Last but not a least... Quotes*/
#quotes {
  margin: 25% 10%;
}
#quotes img {
  width: 10vh;
}
#quotes .leftg {
  text-align: left;
}
#quotes .quotes {
  text-align: center;
  margin: 5% 0;
}
#quotes .rightd {
  text-align: right;
}
#quotes .point {
  display: flex;
  justify-content: center;
}
#quotes .point .dot {
  margin: 5px 2px;
  width: 10px;
  height: 10px;
  border-radius: 15px;
  border: 1px solid #429ef5;
}

/*Finaly the footer, It's all I guess*/
footer {
  margin-top: 20vh;
}
footer .copyright {
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 0 10%;
}
footer .copyright img {
  width: 35px;
  height: 25px;
  cursor: pointer;
  transition: filter 0.25s ease-in-out;
}
footer .copyright img:hover {
  filter: grayscale(50%) brightness(70%) sepia(100%) hue-rotate(5deg) saturate(500%) contrast(1);
}
footer .credit {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10%;
  gap: 2%;
}
footer .credit img {
  padding: 0 5px;
  cursor: pointer;
  transition: filter 0.25s ease-in-out;
}
footer .credit img:hover {
  filter: grayscale(50%) brightness(70%) sepia(100%) hue-rotate(5deg) saturate(500%) contrast(1);
}

.hidden {
  opacity: 0;
  transform: translateX(-15%);
  filter: blur(2px);
  transition: 1s all ease-in-out;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.zoom {
  opacity: 0;
  transform: scale(0);
  filter: blur(5px);
  transition: all 0.7s ease-in-out;
}

.zoom-in {
  opacity: 1;
  transform: scale(1);
  filter: blur(0);
}

/*END!*/

/*# sourceMappingURL=style.css.map */
